#getListPlayers {
    border-collapse: collapse;
    width: 100%;
}

#getListPlayers th, #getListPlayers td {
    border: 1px solid black;
    padding: 8px;
/*    text-align: left;*/
}

#getListPlayers th {
    text-align: center;
    background-color: #f2f2f2;
}

#getListPlayers td {
    text-align: left;
}

#getListPlayers td.button-cell {
    text-align: center;
}

.buttonIcon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.buttonIcon img {
    display: block;
    margin: 0 auto;
}

.pagination {
    display: flex;
    justify-tracks: start;
    justify-tracks: space-between;
    justify-tracks: center;
    justify-tracks: start, center, end;
}

.pagination lable {
    margin: 3px 2px;
    padding: 1px 3px;
    text-align: right;
}

.pagination button {
    margin: 3px 1px;
    padding: 1px 2px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #f2f2f2;
}

/*.pagination button:disabled {*/
/*    background-color: #ccc;*/
/*    cursor: not-allowed;*/
/*}*/

.pagination button.active {
    background-color: #6e0202;
    color: white;
}